@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa Banner Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfanın banner alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.Tema bütünlüğü için bu alanda lütfen bir adet veri girişi yapınız. Aksi durumlarda tema bütünlüğü bozulacaktır.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Video Açıklaması</th>
                                        <th>Video URL</th>
                                        <th colspan="3" class="text-center">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.VideoDescription</td>
                                            <td>@item.VideoUrl</td>
                                            <td style="width:100px"><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Sil</a></td>
                                            <td style="width:150px"><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-outline-success"> <i class="fa fa-edit"></i>  Güncelle</a></td>
                                            <td style="width:180px"><a href="#" class="btn btn-outline-secondary"> <i class="fa fa-play"></i>  Youtube'da Aç</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner" class="btn btn-outline-primary"><i class="fa fa-pen"></i> Ekle</a>
                        </div>
                        <!-- end Bannerd-body-->
                    </div>
                    <!-- end Bannerd -->

                </div>

            </div>
        </div> <!-- container-fluid -->

